html,
body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

header {
    background-color: #dda15e;
    padding: 40px;
    text-align: center;

}

h1 {
    font-size: 5em;
    color: white;
    text-shadow: 0 4px 20px black;
}

header img {
    border-radius: 30% 10%;
    width: 410px;
    height: 280px;
    border: 24px solid #edf6f9;
    box-shadow: 0 10px 20px black;

}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;


}

img.big-image {
    max-width: 100%;
}

.caption {
    font-size: 16px;
    color: rgb(235, 102, 102);
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #da7808;
}

footer {
    margin-top: 20px;
    padding: 40px 20px;
    background-color: #e3d5ca;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;

}

@media (max-width:576px) {

    header img {

        width: 210px;
        height: 140px;
        border: 12px solid #edf6f9;

    }

    h1 {
        font-size: 3em;

    }


}